<h1>
  {{title}}
</h1>

This DEMO implements <a href="http://guides.rubyonrails.org/routing.html#crud-verbs-and-actions" target="_blank">5 (out of 7) basic Ruby on Rails REST actions</a> over a simple "Question" object:

1. Create
2. Show
3. Update
4. Destroy
5. Show all.

<p></p>

The remaining 2 actions (out of 7 base actions):

6. New
7. Edit

don't make sense in this case (since we use here <a href="http://guides.rubyonrails.org/api_app.html" target="_blank">Ruby on Rails 5 in the API-only mode</a>) and were not implemented.

This program utilizes the Angular 2 routing and all the program's behavior is styled to look like a common Ruby on Rails application.

<p></p>

All the interaction "Angular2 + Ruby on Rails 5" is located in a special Angular2 service.

<simple-router></simple-router>